<div>
  {{#each user}}
  <p>My Pet Profile:</p>
  <p><strong>Owner Name:</strong>{{firstname}}</p>
  {{/each}}
  {{#each pets}}
  <p><strong>My Name:</strong>{{pets_name}}</p>

  <p><strong>My Breed:</strong>{{pets_breed}}</p>

  <p><strong>My Age:</strong>{{pets_age}}</p>

  <p><strong>My Temperament:</strong>{{pets_temperament}}</p>
  {{/each}}
</div>
